name: Build and test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-test:
    if: github.repository == 'apache/pekko-http-quickstart-java.g8'
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Java 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Cache Coursier cache
        uses: coursier/cache-action@4e2615869d13561d626ed48655e1a39e5b192b3c # v6.4.7

      - name: sbt test
        run: sbt test

      - name: Maven
        run: |-
          sbt new file://$PWD --name=hello-world --force && pushd hello-world &&  mvn test

      - name: Gradle
        run: |-
          sbt new file://$PWD --name=hello-world --force && pushd hello-world &&  ./gradlew --console=plain build

  build-docs:
    if: github.repository == 'apache/pekko-http-quickstart-java.g8'
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Java 11
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 11

      - name: Install sbt
        uses: sbt/setup-sbt@17575ea4e18dd928fe5968dbe32294b97923d65b # v1.1.13
         
      - name: Cache Coursier cache
        uses: coursier/cache-action@4e2615869d13561d626ed48655e1a39e5b192b3c # v6.4.7

      - name: sbt & Paradox
        run: sbt test docs/paradox
